* {
    font-family:"Rubik", sans-serif;
}
  
#container {
  text-align: center;
  background-image: linear-gradient(#e995be, white);
  background-repeat: repeat-x;
  background-position: top;
}

#hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#banner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#category-heading {
  text-align: center;
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  background-color: white;
}

#news {
      margin: 10px;
      text-align: center;
      column-count: 3;
      padding-top: 50px;
      padding-bottom: 50px;
}

.tile { 
        background-color: #fff; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        padding: 20px; 
        border-radius: 10px; 
        height: auto;
        max-width: 100%;
}

/* Navigation (customisations to override Bootstrap) */

  .navbar-custom {
      background-color: #e995be;
  }
  
  .navbar .navbar-nav .nav-link {
      color: white;
  }

  .navbar .navbar-nav .nav-item {
      color: white;
  }
  
  .navbar-nav .nav-item .nav-link:focus {
  text-decoration: underline;
  }

  .navbar .navbar-brand {
      color: white;
      margin-left: 20px;
  }

  .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  
  .navbar-nav li {
    display: flex; 
    padding: 0 15px;
    flex-flow: row wrap;
  }

/* Footer (customisations to override Bootstrap) */

.pt-4 {
  height: 200px;
  background-color: #e995be;
}

/* LOL character box customisations*/

  .box {
    padding: 20px;
  }

  .image {
      width: inherit;
      background-color: rgb(255, 255, 255);
      padding: 8px;
      height: 200px;
      box-sizing: border-box;
      text-align: center;
      margin: 20px;
      border-radius: 1px;
      object-fit: contain;
  }

  .picTitle {
    text-align: center;
    font-family: Rubik;
    margin: auto;
    padding: 10px;
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
    height: fit-content;
    width: fit-content;
}

  .imageLabel {
      text-align: center;
      margin: auto;
      padding: 10px;
      background-color: rgba(100, 100, 100, 0.5);
      color: white;
      height: fit-content;
      width: fit-content;
  }

/* Individual image customisation to fit display of device */

  img {
    height: auto; 
    max-width: 100%;
    }

/* Media query styles for desktop devices */

  @media only screen and (min-width: 992px) {
    body {
      font-size: 16px;
      width: 100%;
      margin: auto;
    }
  }

  /* Media query styles for tablet devices */

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 14px;
      width: 90%;
      margin: auto;
    }
  }

  /* Media query styles for mobile devices */

  @media only screen and (max-width: 767px) {
    body {
      font-size: 12px;
      width: 100%;
      margin: 0;
    }
  }