* {
    font-family:"Rubik", sans-serif;
}

body { 
  background-color: #e995be;
}

h1,h2,h3,h4,h5 {
  color:white;
}

#smaller-heading {
  color:white;
}

/* Row and column elements */

.col-span-3 {
	grid-column: span 3 / span 3;
}

.col-span-4 {
	grid-column: span 4 / span 4;
}

.col-span-5 {
	grid-column: span 5 / span 5;
}

.col-span-6 {
	grid-column: span 6 / span 6;
}

.col-span-7 {
	grid-column: span 7 / span 7;
}

.col-span-12 {
	grid-column: span 12 / span 12;
}

/* Nav elements */
  
#nav-container {
  text-align: center;
  background-color: #e995be;
  background-repeat: repeat-x;
  background-position: top;
}

#hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#banner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#category-heading {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#character-options {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#selection-box {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#selections-container {
  margin-left: auto;
  margin-right: auto;
}

#news {
      padding-top: 30px;
      padding-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: #e995be;
      display: grid;
      grid-template-columns: auto auto auto auto;
      margin: auto;
}

.tile { 
        background-color: #fff; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        padding: 20px; 
        border-radius: 10px; 
        height: auto;
        max-width: 100%;
}

/* Navigation (customisations to override Bootstrap) */
  
  .navbar .navbar-nav .nav-link {
      color: white;
  }

  .navbar .navbar-nav .nav-item {
      color: white;
      padding-left: 20px;
      padding-right: 20px;
  }
  
  .navbar-nav .nav-item .nav-link:focus {
  text-decoration: underline;
  }

  .navbar .navbar-brand {
      color: white;
      margin-left: 20px;
  }

  .navbar-toggler {
      color: white;
      margin-right: 20px;
  }

  .navbar-toggler-icon {
      color: white !important;
  }

/* Footer (customisations to override Bootstrap) */

.pt-4 {
  height: 200px;
  background-color: #e995be;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #e995be;
  text-align: center;
}

/* LOL character box customisations*/

  .box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    }

  .image {
      width: fit-content;
      background-color: rgb(255, 255, 255);
      padding: 8px;
      height: 200px;
      margin: auto;
      margin-bottom: 20px;
  }

  .picTitle {
    text-align: center;
    font-family: Rubik;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
    height: fit-content;
    width: fit-content;
}

  .imageLabel {
      text-align: center;
      margin: auto;
      padding: 10px;
      background-color: rgba(100, 100, 100, 0.5);
      color: white;
  }

/* Individual image customisation to fit display of device */

  img {
    height: auto; 
    max-width: 100%;
    }

/* Media query styles for desktop devices */

  @media only screen and (min-width: 992px) {
    body {
      font-size: 16px;
      width: 100%;
      margin: auto;
    }

    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      justify-content: flex-end;
      padding-right: 20px;
  }
  }
  
  /* Media query styles for mobile devices */

  @media only screen and (max-width: 767px) {
    body {
      font-size: 8px;
      width: 100%;
      margin: auto;
    }
    h3 {
      font-size: 12px;
    }
    #news {
      grid-template-columns: auto auto auto;
    }
    .image {
      max-block-size: min-content;
    }
  }
  

  /* Media query styles for tablet devices */

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 8px;
      width: 100%;
      margin: auto;
    }
    h3 {
      font-size: 16px;
    }
    #news {
      grid-template-columns: auto auto auto;
    }
    .image {
      max-block-size: min-content;
    }
  }